/**
dolha de estilo materiais esportivos
@author Vanildo Lima
/* importar fonts */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Siliguri:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

/** variaveis globais */
:root {
    --azulLayout: #00FFFF;
    --cinzaTexto: #808080;
    --preto: #000000;
    --backgroundCard: #f1f3f4;
    --bordaLayout: #a1a1a1;
    --vermelhoLayout: #c00000;
    --BrancoLayout: #f8f8f8ff;
    --AzulescuroLayout: #013858;
    --AzulBebeLayout:#1584a2;
    --VerdeAguaLayout:#90ee90;
    --cinzaClaroLayout:#d3d3d3;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;

}

/* LAYOUT >>>>>>>>>>>>>>>>>>>>>>>>>>> c*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Bebas Neue", "Hind Siliguri";
    font-size: 1em;
}

.Container {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.Containersobre {
    margin: 0 auto;
    padding: 50px 15px 50px 15px;
    display: flex;
    flex-direction: row;
}



.Flex,
.FlexMenu,
.FlexCard,
.FlexPage,
.FlexSection {
    display: Flex;

}

.Flex,
.FlexPage {
    flex-direction: column;


}

.FlexCard {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FlexMenu {
    justify-content: space-between;
}

.FlexSection {
    align-items: center;

}

/*cartão*/

.Card {
    margin-top: 20px;
    width: 300px;
    height: 320px;
    background-color: var(--backgroundCard);
    border: 1px solid var(--bordaLayout);
    border-radius: 25px;
    text-align: center;
}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3 {
    margin: 15px 30px 0px 0px;
}

.Card p {
    padding: 10px 15px 50px 15px;
    text-align: left;
    color: var(--cinzaTexto);
}

.Button {
    text-decoration: none;
    background-color: var(--vermelhoLayout);
    color: var(--BrancoLayout);
    padding: 10px 100px;
    border-radius: 25px;
    font-size: 1.5em;
    font-weight: 700;

}
.BannerPaginas{
    height: 50vh;
    background: url(./img/banner2.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.BannerPaginas h1 {
        color: var(--BrancoLayout);   
        font-weight: 500;
        font-size: 2.75em;
        text-shadow: #000000 0.05em 0.05em 0.5em;
    }


/* Topo */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}





/** Smartphone portrait >>>>>>>>>>>>>>>>>*/

/************ Cabeçalho *******************/

header {
    height: 80px;
    background-color: #ffffff;

}

#logo img {
    width: 58px;
    height: 58px;
    margin: 0px 0px 0px 0px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 25px;
    right: 3px;
    color: rgba(60, 60, 60, 0.6);
    z-index: 2;
}

nav ul {
    list-style: none;
    background-color: rgba(73, 72, 72, 0.95);
    height: 100vh;
    position: fixed;
    top: 80px;
    right: -70%;
    /*estratégia para recolher o menu*/
    width: 70%;
    transition: all 0.5s;
    z-index: 1;
}

/* ativar o checkbox refernte a ul*/
#check:checked~ul {
    right: 0;
}

nav ul li {
    border-bottom: 0.5px solid var(--backgroundCard);
    text-align: right;
    padding: 8px;

}

#s1,
#s2,
#s3,
#s4 {
    display: none
}

nav ul li a {
    text-decoration: none;
    color: var(--BrancoLayout);
}

/* banner */
main {
    background: url(img/banner2.jpg);
    height: 50em;
    background-size: cover;
    background-position: center;
    text-align: center;
}

main h1,
h2 {
    color: var(--preto);
    text-shadow: #000000 8.0em 8.0em 8.0em;
    font-size: 1.8em;
}

main h1 {
    font-family: "Bebas Neue", "Hind Siliguri";
    font-weight: 800;
    margin: 0;
    color: var(--BrancoLayout);
}

main h2 {
    display: inline;
    color: var(--BrancoLayout);
}

/* Introdução  */
#intro {
    background: var(--cinzaClaroLayout);
    background-size: cover;
    background-position: center;
    height: 510pt;
}

#destaqueIntro {
    display: none;
}

#textoIntro {
    color: var(--preto);
    font-size: 1.5em;
}


#textoIntro h1 {
    font-family: "Bebas Neue", "Hind Siliguri";
    text-shadow: 0 0 5px var(--cinzaTexto);
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.TopicosIntro {
    margin-top: 10px;
    font-size: 30px;
}


.TopicosIntro img {
    margin-right: 10px;

}

#textoIntro p {
    font-weight: 400;
    text-shadow: 0 0 5px var(--cinzaTexto);
    
}


#destacado {
    font-weight: 800;
}


/* projetos */
#projetos h2 {
    text-align: center;
    font-family: "Bebas Neue", "Hind Siliguri";
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 20px;
}

#destacado2 {
    color: var(--vermelho);
    font-weight: 600;
}



/************ rodapé ***************/

footer {
    background-color: var(--AzulBebeLayout);
    color: var(--BrancoLayout);
    text-align: center;
}

#social {
    margin-bottom: 25px;
}

/** Página Sobre ***/

#textoSobre h2 {
    margin: 30px 0px;
    font-size: 2.0em;
    font-weight:500;
}

#textoSobre h3 {   
    margin: 20px 0px;
    font-size: 2em;
    font-weight: 500;
    border-radius: 50%;
}

#textoSobre ol {
    margin-left: 0px;
    margin: 10px;
}

#textoSobre h4 {
    margin-top: 50px;    
    font-weight: 500;
    font-size: 1em;
}

/** smartphone landscape>>>>>>>>>>>>>>>>>*/
@media(min-width: 576px) {

    /* Layout */
    .Container {
        max-width: 540px;
    }

    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    /* Cabeçalho */
    header {
        max-width: 540px;
        margin: 0 auto;
    }

    /* Rodapé */
    #social {
        margin: 0;

    }
    }


/** tablet portrait >>>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 768px) {

    /*Layout */
    .Container {
        max-width: 720px;
    }
}

/* Cabeçalho */
header {
    max-width: 720px;
    height: 100px;
    background-color: #ffffff;
}

label {
    font-size: 4em;
    top: 25px;
    right: 5px;
}

#logo img {
    width: 200px;
    height: 200px;
    margin: -50px 0px 0px -35px;
}

/* Menu */
label {
    font-size: 4em;
    top: 25px;
    right: 5px;
}

nav ul {
    top: 100px;
    right: -50%;
    width: 50%;
}

/* Banner */
main h1 {
    font-size: 4.0em;
    font-weight: 800;
    margin-bottom: 25px;
}

main h2 {
    display: block;
    font-size: 2.0em;
    margin-bottom: 25px;
}

main a {
    margin-top: 30px;
}

label {
    font-size: 4em;
    top: 25px;
    height: 5px;
    color: rgba(67, 67, 67, 0.9);
}


#textoDestaque {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 10px;
}






/* Projetos */
#projetos h2 {
    font-size: 1.8em;
}




/** tablet landscape >>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /* Layout */
    .Container {
        max-width: 960px;
    }

    /* Cabeçalho */
    header {
        max-width: 992px;
    }

    /* Introdução */
    #destaqueIntro {
        display: inline;
    }

    #destaqueIntro img {
        margin-right: 50px;
        border-radius: 50%;
    }

    /* Projetos */
    #projetos h2 {
        font-size: 2em;
    }
     /*** Página Sobre ***/
     .FlexPage {
        flex-direction: row;
    }

    #imagemSobre {
        margin-right: 50px;
    }
}


/* PCs ou notebooks HD >>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .Container {
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        max-width: 1140px;
        height: 125px;
    }

    #logo img {
        width: 204px;
        height: 204px;
    }

    label {
        display: none;
    }

    nav ul {
        width: 100%;
        position: static;
        height: auto;
        background-color: var(--BrancoLayout);
        margin-top: 50px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        color: var(--cinzaLayout);
    }

    nav ul li a:hover {
        color: var(--vermelhoLayout)
    }

    /* Destaque */
    #destaque {
        height: 75vh;
    }

    #slogan {
        font-size: 2em;
        font-weight: 400;
    }

    #textoDestaque {
        font-size: 1.1em;
    }

    /* Introdução */
    #intro {
        background-attachment: fixed;
    }

    #textoIntro h1 {
        font-size: 2em;
    }

    /* Projetos */
    #projetos h2 {
        font-size: 2.5em;
        font-weight: 500;
    }

    /* Banner */

    main h1 {
        font-size: 5.0em;
        text-shadow: #000000 0.5em 0.5em 0.5em;
    }

    main h2 {
        font-size: 3.0em;
        text-shadow: #000000 0.5em 0.5em 0.5em;

    }
}

/* PCs, notebooks ou Tv Full HD + >>>> */
@media (min-width: 1400px) {

    /* Cabeçalho */
    header {
        height: 150px;
        background-color: #ffffff;
    }

    #logo img {
        width: 200px;
        height: 200px;
        margin: -30px 0px 0px 10px;
    }
}