/**
folha de estilo do site Materiais Esportivos
@author Vanildo Lima
*/ 

/* CSS RESET */ 
*{
    margin: 0;
    padding: 0;
    border: 0;

}

/* importar fonts */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Siliguri:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');


body{
    font-family: "Bebas Neue" , "Hind Siliguri";
    font-size: 1em;
}



/* Smartphone portrait >>>>>>>>>>>>>>>>>>>>>> */

/* Smartphone landscape >>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
    
}

/* Tablet portrait >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
   
}

/* Tablet landscape >>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
   
}

/* PCs ou notebooks HD + >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
   
}

/* PCs, notebooks ou Tv Full HD + >>>>>>>>>>>> */
@media (min-width: 1400px) {
   
}
