/**
dolha de estilo materiais esportivos
@author Vanildo Lima
/* importar fonts */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Siliguri:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

/** variaveis globais */
:root {
    --azulLayout: #00FFFF;
    --cinzaTexto: #808080;
    --preto: #000000;
    --backgroundCard: #f1f3f4;
    --bordaLayout: #a1a1a1;
    --vermelhoLayout: #c00000;
    --BrancoLayout: #ffffff;
    --AzulescuroLayout: #013858;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;

}

/* LAYOUT >>>>>>>>>>>>>>>>>>>>>>>>>>> c*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Bebas Neue", "Hind Siliguri";
    font-size: 1em;
}

.Container {

    margin: 0 auto;
    padding: 50px 15px 50px 15px;
}

.Flex,
.FlexMenu {
    display: Flex;
    justify-content: space-between;
}

.Flex {

    flex-direction: column;

}

/*cartão*/

.Card {
    margin-top: 30px;
    width: 300px;
    height: 450px;
    background-color: var(--backgroundCard);
    border: 1px solid var(--bordaLayout);
    border-radius: 25px;
    text-align: center;
}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3 {
    margin: 15px 30px 0px 0px;
}

.Card p {
    padding: 10px 15px 50px 15px;
    text-align: left;
    color: var(--cinzaTexto);
}

.Button {
    text-decoration: none;
    background-color: var(--vermelhoLayout);
    color: var(--BrancoLayout);
    padding: 10px 100px;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 700;

}

/* Topo */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}





/** Smartphone portrait >>>>>>>>>>>>>>>>>*/

/************ Cabeçalho *******************/

header {
    height: 80px;
    background-color:#ffffff;

}

#logo img {
    width: 58px;
    height: 58px;
    margin: 0px 0px 0px 0px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 25px;
    right: 3px;
    color: rgba(60, 60, 60, 0.6);
}

nav ul {
    list-style: none;
    background-color: rgba(60, 60, 60, 0.95);
    height: 100vh;
    position: fixed;
    top: 80px;
    right: -70%;
    /*estratégia para recolher o menu*/
    width: 70%;
    transition: all 0.5s;
}

/* ativar o checkbox refernte a ul*/
#check:checked~ul {
    right: 0;
}

nav ul li {
    border-bottom: 0.5px solid var(--backgroundCard);
    text-align: right;
    padding: 15px;

}

nav ul li a {
    text-decoration: none;
    color: var(--BrancoLayout);
}

/* banner */
main {
    background: url(img/banner.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

main h1,h2 {
    color: var(--preto);
    text-shadow:#000000 7.0em 7.0em 7.0em;
    font-size: 1.5em;
}

main h1 {
    font-family: "Bebas Neue", "Hind Siliguri";
    font-weight: 700;
    margin: 0;
    color: var(--BrancoLayout);
}

main h2 {
    display: inline;
    color: var(--BrancoLayout);
}

/************ rodapé ***************/

footer {
    background-color: var(--AzulescuroLayout);
    color: var(--BrancoLayout);
    text-align: center;
}

#social {
    margin-bottom: 25px;
}

/** smartphone landscape>>>>>>>>>>>>>>>>>*/
@media(min-width: 576px) {

    /* Layout */
    .Container {
        max-width: 540px;
    }

    /* Cabeçalho */
    header {
        max-width: 540px;
        margin: 0 auto;
    }

    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    /* Banner */
    main {
        height: 80vh;
    }

    main h1 {
        font-size: 2.0em;
    }

    /* Rodapé */
    #social {
        margin: 0;

    }
}

/** tablet portrait >>>>>>>>>>>>>>>>>>>>>*/
@media(min-width: 768px) {

    /*Layout */
    .Container {
        max-width: 720px;
}
}

/* Cabeçalho */
header {
    max-width: 720px;
    height: 100px;
    background-color:#ffffff;
}

label {
    font-size: 4em;
    top: 25px;
    right: 5px;
}

#logo img {
    width: 200px;
    height: 200px;
    margin: -50px 0px 0px -50px;
}

nav ul {
    top: 100px;
    right: -50%;
    width: 50%;
}

/* Banner */
main h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 25px;
}

main h2 {
    display: block;
    font-size: 1.5em;
    margin-bottom: 25px;
}

main a {
    margin-top: 30px;
}

label {
    font-size: 4em;
    top: 25px;
    height: 5px;
    color: rgba(67, 67, 67, 0.9);
}



/** tablet landscape >>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /* Layout */
    .Container {
        max-width: 960px;
    }

    /* Cabeçalho */
    header {
        max-width: 992px;
    }
}

/* PCs ou notebooks HD >>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    /* Layout */
    .Container {
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        max-width: 1140px;
        height: 125px;
    }

    #logo img {
        width: 204px;
        height: 204px;
    }

    label {
        display: none;
    }

    nav ul {
        width: 100%;
        position: static;
        height: auto;
        background-color: var(--BrancoLayout);
        margin-top: 50px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        color: var(--cinzaLayout);
    }

    nav ul li a:hover {
        color: var(--vermelhoLayout)
    }
}

/* Banner */

main h1 {
    font-size: 2em;
}

main h2 {
    font-size: 1.5em;
    text-shadow:#000000 0.5em 0.5em 0.5em;

}

/* PCs, notebooks ou Tv Full HD + >>>> */
@media (min-width: 1400px) {

    /* Cabeçalho */
    header {
        height: 150px;
        background-color:#ffffff;
    }

    #logo img {
        width: 200px;
        height: 200px; margin: -10px 0px 0px 0px;
    }
}